@import "reset.css";

@font-face {
   font-family: "Gilroy";
   src: url(../fonts/Gilroy.ttf) format("opentype");
}

@font-face {
  font-family: "Europe";
  src: url(../fonts/Europe.ttf)format("opentype");
}

@font-face {
   font-family: "Europe Bold Italic";
   src: url(../fonts/EuropeItalic.ttf) format("opentype");
}


html {
  overflow-x: hidden;
}


body {
  font-family: 'Gilroy';
  font-family: 'Europe';
  font-weight: bold;
  background-color: #010037;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}


/* .s1 {
    width:50vmin;
    height:50vmin;
    transform-style:preserve-3d;
    position:relative;
    right: 0;
    width: 32vw;
    transform-style:preserve-3d;
}

.stickerWrap {
  width: 50vmin;
  height: 50vmin;
  transform-style: preserve-3d;
  position: relative;
  animation: h 1s both;
  transform-origin: center bottom;
  animation:f 4s both, g 4s both, h 4s both;
}

.stickerWrap:before,
.stickerWrap:after {
  content: '';
  display: run-in;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: center / cover url('../img/sticker1.svg');
}
.stickerWrap:before {
  animation: f 4s both;
  width: 50vmin;
  height: 50vmin;
  transform-style: preserve-3d;
  position: relative;
  right: 0;
  width: 32vw;
  }
@keyframes f {
  from {
    clip-path: inset(0 80% 0 0);
  }
  50%,
  to {
    clip-path: inset(0 0% 0 0);
  }
}
.stickerWrap:after {
  filter: brightness(0.2);
  transform: rotateY(-180deg);
  animation: g 4s both;
  width: 50vmin;
  height: 50vmin;
  transform-style: preserve-3d;
  position: relative;
  right: 0;
  width: 32vw;
}
@keyframes g {
  from {
    clip-path: inset(0 0 0 20%);
    transform-origin: 20% 0;
  }
  50%,
  to {
    clip-path: inset(0 0 0 100%);
    transform-origin: 100% 0;
  }
}
@keyframes h {
  from {
    transform: rotate(-50deg);
  }
  to {
    transform: rotate(-40deg);
  }
} */

.stickerWrap {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
/*
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: center top;
          perspective-origin: center top;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
}
*/

.s1 {
  width: 70vmin;
  height: 50vmin;
  margin-top: -51vw;
  margin-left: -28vw;
}
  /*
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -webkit-animation: h 1s both;
          animation: h 1s both;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}


.s1:before,
.s1:after {
  content: '';
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: center / cover url(../img/sticker1.svg);
}
.s1:before {
  -webkit-animation: f 4s both;
          animation: f 4s both;
}
@-webkit-keyframes f {
  from {
    -webkit-clip-path: inset(0 80% 0 0);
            clip-path: inset(0 80% 0 0);
  }
  50%,
  to {
    -webkit-clip-path: inset(0 0% 0 0);
            clip-path: inset(0 0% 0 0);
  }
}
@keyframes f {
  from {
    -webkit-clip-path: inset(0 80% 0 0);
            clip-path: inset(0 80% 0 0);
  }
  50%,
  to {
    -webkit-clip-path: inset(0 0% 0 0);
            clip-path: inset(0 0% 0 0);
  }
}
.s1:after {
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-animation: g 4s both;
          animation: g 4s both;
}
@-webkit-keyframes g {
  from {
    -webkit-clip-path: inset(0 0 0 20%);
            clip-path: inset(0 0 0 20%);
    -webkit-transform-origin: 20% 0;
            transform-origin: 20% 0;
  }
  50%,
  to {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
}
@keyframes g {
  from {
    -webkit-clip-path: inset(0 0 0 20%);
            clip-path: inset(0 0 0 20%);
    -webkit-transform-origin: 20% 0;
            transform-origin: 20% 0;
  }
  50%,
  to {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
}
@-webkit-keyframes h {
  from {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
  to {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@keyframes h {
  from {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
  to {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
*/


.s2 {
  position: relative;
  right: -59vw;
  top: -147vw;
  width: 41vw;
}

.s3  {
  position: absolute;
  top: 54px;
  right: -3px;
  width: 62vw;
}

.s4 {
  position: relative;
  top: 38vw;
  left: -44vw;
  z-index: 100;
  width: 32vw;
}

.s5 {
  position: relative;
  top: -3vw;
  left: 4vw;
  width: 34vw;
}

.text {
  justify-content: space-between;
  color: #E5F800;
      font-size: 32px;
      width: 100vw;
      margin-top: -109vw;
  letter-spacing: -2px;
  line-height: 37px;
}


.now {
  margin-left: 4vw;
}

.prod {
  font-size: inherit;
  margin-left: 48vw;
}


.text p em {
  color: #B3CE5E;
  margin-left: 47px;
  font-size: inherit;
}

.extra {
  margin-top: 126px;
  letter-spacing: 7px;
  font-size: 40px;
  margin-left: 10px;
  animation: shadow-grow 12s ease-in-out infinite;
}

/*
.extra::before {
  position: absolute;
  content: "пристально";
  filter: blur(3px);
  mix-blend-mode: luminosity;
}
@keyframes shadow-grow {
  30% {
    text-shadow: 80px #E5F800;
  }
}
.effect {
  background: radial-gradient(circle, white, #010037 35%) center / 25% 25%;
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  mix-blend-mode: color-dodge;
  animation: shine 12s infinite;
}
@keyframes shine {
  to {
    transform: translate(50%, 50%);
  }
}
*/

.stalker img{
  width: 151vw;
  margin-top: 2vw;
  margin-left: -3vw;
  animation: heartBeat 4s infinite;
}


@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.avopolice {
  height: 100%;
  background: rgb(2,3,64);
  background: linear-gradient(180deg, rgba(2,3,64,1) 2%, rgba(211,255,0,1) 89%);
  text-align: right;
  position: relative;
}

#wrapper3 {
  height: 800px;
   margin: auto;
}

.lemon {
  transform: rotate(45deg);
   left: -29px;
   top: -329px;
   height: 68vw;
   width: 45vw;
   overflow-x: scroll;
   position: sticky;
 position: -webkit-sticky;
 display: flex;
 justify-content: center;
 align-items: center;
}

.brok {
    position: absolute;
    right: -208px;
    width: 493px;
    bottom: 317px;
    overflow-x: hidden;
    top: -154vw;
}

.wrapper2 {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  margin-top: 133vw;
}

.text2 {
    font-family: 'Europe Bold Italic', arial;
    color: #CDD110;
    font-size: 13vw;
    position: absolute;
    margin-top: -244px;
    margin-left: 10px;
  }

.super_full {
  opacity: 100%;
}

.not_super_full {
  opacity: 80%;
  margin-right: 25px;
}

.full {
  opacity: 55%;
  margin-right: 50px;
}

.not_full {
  opacity: 20%;
  margin-right: 75px;
}

.not_so_full {
  opacity: 10%;
  margin-right: 110px;
}

.not_so_full_{
  opacity: 5%;
  margin-right: 130px;
}


.stickers {
    width: 103vw;
    height: 99vw;
    background-image: url(../img/stickers.svg);
    background-size: cover;
    background-position: bottom;
    margin-top: 100vw;
}

.wrapper {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    margin-top: 219vw;
}

@media (min-width: 375px) {

  .smallStickers {
   width: 127vw;
  }

  .s1 {
      width: 70vmin;
      height: 50vmin;
      margin-top: -51vw;
      margin-left: -28vw;
  }

  .s2 {
      position: relative;
      right: -59vw;
      top: -124vw;
      width: 41vw;
  }

  .s3 {
      position: absolute;
      top: 54px;
      right: -3px;
      width: 62vw;
  }

  .s4 {
      position: relative;
      top: 21vw;
      left: -44vw;
      z-index: 100;
      width: 43vw;
  }

  .s5 {
      position: relative;
      top: 1vw;
      left: -81vw;
      width: 39vw;
  }

    .text {
      font-size: 11vw;
        margin-left: -2vw;
        width: 114vw;
        margin-top: -79vw;
    }

    .extra {
      margin-top: 76vw;
      letter-spacing: 2px;
      font-size: 15vw;
      margin-left: 7vw;
    }

    .stalker img{
      width: 127vw;
      margin-top: 5vw;
    }

    .brok {
      position: absolute;
      right: -67vw;
      width: 180vw;
      bottom: 317px;
      overflow-x: hidden;
      top: -212vw;
    }

    .lemon {
      transform: rotate(47deg);
      left: -10vw;
      top: 66vw;
      height: 61vw;
      width: 41vw;
      position: fixed;
      position: ;
      overflow-x: scroll;
     }



    .text2 {
      margin-top: -478px;
      margin-left: -79px;
      width: 100%;
      line-height: 14vw;
   }


    .stickers {
        width: 101vw;
        margin-top: 267px;
    }

    .not_super_full {
      margin-right: 6vw;
  }

    .full {
      margin-right: 12vw;
  }
    .not_full {
    margin-right: 82px;
    }


    .not_so_full {
    margin-right: 27vw;
    }

    .not_so_full_ {
    margin-right: 37vw;
    }

  .wrapper {
    width: 128vw;
    }
}

@media (min-width: 414px) {

  .smallStickers {
    width: 127vw;
 }

 #wrapper3 {
    position: fixed;
    z-index: 1;
}

.lemon {
    transform: rotate(47deg);
    left: -12vw;
    top: 50vw;
    height: 60vw;
    width: 39vw;
    z-index: 1;
  }

  .text2 {
      margin-top: -524px;
      margin-left: -57px;
      width: 100%;
      line-height: 14vw;
  }

  .text {
    margin-top: -80vw;
  }

  .wrapper {
    width: 137vw;
 }

.stckers {
    width: 105vw;
    margin-top: 365px;
}

  .now {
    margin-left: 4vw;
  }

  .prod p {
  margin-left: 215px;
  font-size: 38px;
  }
  .extra p {
  margin-left: 2vw;
  font-size: 55px;
  }

  .stalker img {
    width: 135%;
    margin-top: 4vw;
  }

  .stickers {
      width: 102vw;
      margin-top: 109vw;
  }
}

@media (min-width: 768px ) {

  .s1 {
      width: 53vmin;
      height: 64vmin;
      margin-top: 33vw;
      margin-left: -34vw;
  }

  .s2 {
    position: relative;
    right: -59vw;
    top: -44vw;
    width: 32vw;
}

.s3 {
    position: absolute;
    top: 245px;
    right: -3px;
    width: 51vw;
}

.s4 {
    position: relative;
    top: 64vw;
    left: -44vw;
    z-index: 100;
    width: 43vw;
}

.s5 {
    position: relative;
    top: 46vw;
    left: -81vw;
    width: 39vw;
}


  .text {
    margin-top: -26vw;
    line-height: 10vw;
    font-size: 10vw;
  }

  .text p em {
    margin-left: 107px;
 }

  .not_full {
      margin-right: 137px;
  }

.lemon {
  top: 11vw;
}

.stickers {
    width: 110vw;
    margin-top: 154vw;
}

.text2 {
  top: -65vw;
}

}


@media (min-width: 1440px ) {

  .s1 {
        width: 53vmin;
        height: 33vmin;
        margin-top: -22vw;
        margin-left: -34vw;
  }

  .s2 {
      position: relative;
      right: -31vw;
      top: -58vw;
      width: 37vw;
  }

  .s3 {
    position: absolute;
    top: 288px;
    right: 12px;
    width: 55vw;
}
.s4 {
    position: relative;
    top: 74vw;
    left: -44vw;
    z-index: 100;
    width: 43vw;
}

.s5 {
    position: relative;
    top: 50vw;
    left: -81vw;
    width: 39vw;
}

  .text2 {
    top: -88vw;
    margin-left: -208px;
    }

    .not_full {
    margin-right: 270px;
   }
}

@mdia (min-width: 1534px ) {
  .text {
    font-size: 148px;
  }
  .text p em{
    font-size: 148px;
  }
  nav .prod {
    font-size: 148px;
    margin-left: -10px;

  }
  nav .extra {
    font-size: 167px;
  }
}

@mdia (min-width: 1920px ) {
  .text {
    font-size: 167px;
  }
  .text p em{
    font-size: 167px;
  }
  nav .prod {
    font-size: 167px;
    margin-left: -10px;

  }
  nav .extra {
    font-size: 167px;

  }
}
